.menu-entry {
	margin: 10px;
	padding: .4em 1.2em;
    spacing: 1em;
}

.wish-list-entry {
	margin: 10px;
	padding: .4em 1.2em;
    spacing: 1em;

    border: 1px solid #2d2d2d;
	border-radius: 16px;
	width: 240px;
}
